name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main

jobs:
  build_and_test:
    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest
    container: kitware/paraview-for-ci:v5.10.1

    steps:

    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: 'source'
        fetch-depth: 0
        lfs: 'true'

    - name: Setup Directories
      working-directory: ${{github.workspace}}
      run: mkdir build

    - name: Configure
      working-directory: ${{github.workspace}}/build
      run: cmake -DParaView_DIR=/paraview/install/lib/cmake/paraview-5.10/ -DBUILD_TESTING=ON -DCMAKE_BUILD_TYPE=Release ..

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --parallel 2

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: xvfb-run ctest -j 2 --output-on-failure || ctest -j 1 --rerun-failed -VV

  build_binary:
    if: github.event.pull_request.draft == false

    runs-on: ubuntu-latest
    container: kitware/paraview_org-plugin-devel:5.10.1

    steps:

    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: 'source'
        fetch-depth: 0
        lfs: 'true'

    - name: Setup Directories
      working-directory: ${{github.workspace}}
      run: mkdir build

    - name: Configure
      working-directory: ${{github.workspace}}/build
      run: cmake -DParaView_DIR=/builds/gitlab-kitware-sciviz-ci/build/install/lib/cmake/paraview-5.10/ -DCMAKE_BUILD_TYPE=Release ..

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: cmake --build . --parallel 2

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        path: ./build/*
        name: build
